# dependencies
node_modules/
.pnpm-store/

# logs
*.log

# non-public environment variables
.env.local
.env.*.local

# caches
.eslintcache
.stylelintcache
*.tsbuildinfo

# vercel
.vercel

# misc
.DS_Store
.idea/

# nuxt.js
dist
.data/
.nuxt/
.nitro/
.output/

# playwright
/blob-report/
/playwright/.cache/
/playwright-report/
/test-results/

# generated api-client
/lib/api-client/api.ts

# generated content
/messages/*/crm.json
