# dependencies
node_modules/
.pnpm-store/

# logs
*.log

# non-public environment variables
.env.local
.env.*.local
.env

# caches
.eslintcache
.stylelintcache
*.tsbuildinfo

# vercel
.vercel

# misc
.DS_Store
.idea/

# nuxt.js
dist
.nuxt/
.nitro/
.output/

# playwright
/test-results/
/playwright-report/
/playwright/.cache/

# cypress
/cypress/videos/
/cypress/screenshots/
